In [24]:
import pandas as pd
import string
import re

In [25]:
input = pd.read_csv("new_raw.csv")

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [26]:
input.head()

                       things                    places
0  Consomme printaniere royal             MAISON MARCEL
1               Chicken gumbo  LA UNICA FOOD MART, INC.
2         Tomato aux croutons           THE WING FULTON
3             Onion au gratin               LOOP TAVERN
4                 St. Emilion          WABI SABI ROTARY

In [27]:
input["things"][0:5]

0    Consomme printaniere royal
1                 Chicken gumbo
2           Tomato aux croutons
3               Onion au gratin
4                   St. Emilion
Name: things, dtype: object

In [28]:
input["places"][0:5]

0               MAISON MARCEL
1    LA UNICA FOOD MART, INC.
2             THE WING FULTON
3                 LOOP TAVERN
4            WABI SABI ROTARY
Name: places, dtype: object

In [39]:
# get only the first item in the name, make lowercase
cleaned_foods = []
cleaned_foods = [str(re.sub("[^a-zA-Z ]+", "", string.capwords(x.split(",")[0], " ").lower())) for x in list(input["things"]) if x not in cleaned_foods]
cleaned_foods = list(dict.fromkeys(cleaned_foods))

In [40]:
cleaned_places = []
cleaned_places = [str(re.sub("[^a-zA-Z ]+", "", string.capwords(str(x).split("\\")[0].split("/")[0].split("(")[0], " "))) for x in list(input["places"]) if x not in cleaned_places]

In [41]:
things = {"things": cleaned_foods}
places = {"places": cleaned_places}

In [42]:
thing_df = pd.DataFrame(data=things)
place_df = pd.DataFrame(data=places)
place_df = place_df[place_df.places != "Nan"]

In [43]:
thing_df.to_csv("things.csv")
place_df.to_csv("places.csv")